@use '../index'as *;
@use '../custom/theme'as *;

.footer {
  margin-top: 5rem;
  height: fit-content;
  width: 100%;
  background: #f1f3f5;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  padding: 5em 0;
  p {
    font-weight: 500;
  }
  p.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      transition: $ease;
      &:hover i {
        opacity: 0.8;
      }
    }
    i {
      margin: 0 10px;
      font-size: 30px;
    }
  }
}
