$Blue: (
  100: #f3fbff,
  200: #d6edff,
  300: #a0d4ff,
  400: #57b0fb,
  500: #1292ee,
  600: #0077cc,
  700: #005ca4,
  800: #034077,
  900: #002651,
);

$Charcoal: (
  200: #93a1b0,
  300: #748494,
  400: #556575,
  500: #405261,
  600: #314351,
  700: #253642,
  800: #1d2b36,
  900: #0f1c25,
);

$Ash: (
  200: #f9fafa,
  300: #f1f3f5,
  400: #e5e9ec,
  500: #d5dce1,
  600: #c5ced6,
  700: #b7c2cc,
  800: #a5b2bd,
);

$Gold: (
  100: #fff9ef,
  200: #fff2d7,
  300: #ffe7b8,
  400: #fdd88e,
  500: #ffc555,
  600: #fab347,
  700: #e89635,
  800: #ce7129,
  900: #b24319,
);

$Green: (
  100: #f5fff9,
  200: #e3fbee,
  300: #c2f0d7,
  400: #87dbae,
  500: #56c288,
  600: #39ac6e,
  700: #268c55,
  800: #106236,
  900: #003c1c,
);

$Pink: (
  100: #fff9fb,
  200: #ffeef1,
  300: #ffe1e7,
  400: #ffccd7,
  500: #ffb3c3,
  600: #fd9aae,
  700: #ff819a,
  800: #fc5d7d,
  900: #f23459,
);

$Lavender: (
  100: #f9f9ff,
  200: #ebecff,
  300: #d9dcfd,
  400: #b9beff,
  500: #9fa6ff,
  600: #818aec,
  700: #6269c5,
  800: #404996,
  900: #232a5c,
);

$Indigo: (
  100: #f2f6ff,
  200: #dfe7ff,
  300: #b2c8fb,
  400: #79a1f8,
  500: #527ceb,
  600: #3b64d2,
  700: #2549a8,
  800: #16337f,
  900: #071e57,
);

$Whale-Tail: (
  100: #f3f7ff,
  200: #e5edfe,
  300: #d0defd,
  400: #afc7f9,
  500: #8aabf1,
  600: #7296e1,
  700: #5174bb,
  800: #304f8b,
  900: #142f5e,
);

$Coral: (
  100: #fff8ff,
  200: #ffdaeb,
  300: #ffb7c8,
  400: #ffa8a5,
  500: #ff9982,
  600: #f98a5f,
  700: #fc723b,
  800: #ff4b04,
  900: #d63e02,
);

/* 
colors come from Picy
*/
$Purple-Heart: (
  100: #f3f7ff,
  200: #f3e5fe,
  300: #f4e9ff,
  400: #e9d6ff,
  500: #cbb3ff,
  600: #bc90ff,
  700: #ad6dfe,
  800: #9e4aef,
  900: #8f27e0,
);

$Bright-Sun: (
  100: #fffffd,
  200: #ffffee,
  300: #ffffcb,
  400: #ffffa8,
  500: #fff085,
  600: #ffe162,
  700: #ffd23f,
  800: #ffca1d,
  900: #fdc200,
);

$Radical-Red: (
  100: #fffaff,
  200: #fbf1f1,
  300: #fae6f5,
  400: #ffcde0,
  500: #ffaabd,
  600: #ff879a,
  700: #ff6477,
  800: #ff4168,
  900: #fc1e59,
);

$Astronaut: (
  100: #f9ffff,
  200: #eaeafc,
  300: #c7dbd9,
  400: #b8b8ca,
  500: #959da9,
  600: #728698,
  700: #4f6389,
  800: #40407a,
  900: #1e1e3a,
);

$Mondo: (
  100: #fdf8f4,
  200: #dad5d1,
  300: #c2b2b7,
  400: #b38f94,
  500: #a46c71,
  600: #955d4e,
  700: #864e2b,
  800: #773f08,
  900: #4b2601,
);

$Mint-Green: (
  100: #f5ffff,
  200: #d8fffc,
  300: #c4ffd9,
  400: #a1ffb6,
  500: #7eff93,
  600: #5bff84,
  700: #38ff75,
  800: #0bf43e,
);

$Grey: (
  100: #fdfdfd,
  200: #dedede,
  300: #cfcfcf,
  400: #afafaf,
  500: #9f9f9f,
  600: #7f7f7f,
  700: #5f5f5f,
  800: #3f3f3f,
  900: #1f1f1f,
);

$Klein-Blue: (
  100: #fbffff,
  200: #eef5ff,
  300: #d5efff,
  400: #b2ccff,
  500: #8fa9f9,
  600: #6c86ea,
  700: #4963db,
  800: #2550cc,
  900: #0331bd,
);

$Reno-Sand: (
  100: #fffdff,
  200: #fff2e9,
  300: #fadacb,
  400: #f9d4bc,
  500: #eab999,
  600: #db8a7b,
  700: #cc7b58,
  800: #bd6c35,
  900: #ae5d12,
);

$Cabaret: (
  100: #fffdfd,
  200: #ffe9ec,
  300: #facbd3,
  400: #ffe3f2,
  500: #ffc0cf,
  600: #fe9dac,
  700: #ef7a89,
  800: #e0577a,
  900: #d1346b,
);

$Burnt-Sienna: (
  100: #fffdfd,
  200: #fff4ff,
  300: #ffd1de,
  400: #ffaebb,
  500: #ff9f98,
  600: #f39075,
  700: #e48152,
  800: #e76d35,
  900: #e05c1f,
);

$Teal: (
  900: #0a8080,
  800: #159999,
  700: #23b3b3,
  600: #35cccc,
  500: #49dbe6,
  400: #20e7f8,
  300: #53fbff,
  200: #82ffff,
  100: #acffff,
);

$Allure: (
  900: #1a2172,
  800: #2d1a77,
  700: #4c1a7c,
  600: #6d1a81,
  500: #861a7a,
);

$Cantaloupe: (
  900: #e65100,
  800: #ef6c00,
  700: #f57c00,
  600: #fb8c00,
  500: #ff9800,
  400: #ffa726,
  300: #ffb74d,
  200: #ffe0b2,
  100: #fff3e0,
);

$Navy: (
  900: #266ee8,
  800: #2979ff,
  700: #3c85ff,
  600: #4f91ff,
  500: #76a9ff,
  400: #8ab5ff,
  300: #9dc2ff,
  200: #b1ceff,
  100: #c4daff,
);
